* {
  box-sizing: border-box;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 48px;
  padding-top: 68px;
  font-family: "Roboto", sans-serif;
}
