.content {
  background: #f5f5f8;
}
.box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.boxes {
  width: 595px;
  height: 268px;
  padding: 64px 0px 32px 61px;
}
.box-item1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right, #ffffff 50%, transparent),
    url(../img/box-item1.svg);
}
.box-item2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right, #ffffff 50%, transparent),
    url(../img/box-item2.svg);
}
.box-item3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right, #ffffff 50%, transparent),
    url(../img/box-item3.svg);
}
.box-item4 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right, #ffffff 50%, transparent),
    url(../img/box-item4.svg);
}
.boxes-top {
  display: flex;
  gap: 22px;
  width: 300px;
  margin-bottom: 32px;
}
.boxes-bottom {
  width: 300px;
  line-height: 19px;
  font-family: "Roboto", sans-serif;
}
.text-top {
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
