.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 0;
}
.list {
  display: flex;
  gap: 25px;
}
.link {
  color: black;
  text-decoration: none;
}
.btn {
  display: flex;
  gap: 0 14px;
}
.btn-item {
  display: flex;
  align-items: center;
  padding: 10px 19px 10px 14px;
  border-radius: 3px;
  border: none;
  color: white;
  font-size: 13px;
  font-weight: 700;
}
.btn-item-1 {
  background-color: #ef7f04;
}
.btn-item-2 {
  background-color: #3b3a63;
}
.img {
  margin-right: 12px;
}
